@mixin desktop {
    @media screen and (min-width: $desktopSize) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tabletSize) {
        @content;
    }
}


.nav-main-container {
	display:flex;
	align-items: center;
	width: 100%;
	height:100px;
	background-color: $color_background-main;

	@include desktop{
		justify-content: center;
	}

	
	.website-logo {
		padding-left: 1rem;
		width:300px;
		margin-top: 50px;
		
		@include tablet {
			width: 500px;
			margin-top: 90px;

		}

		@include desktop{
			width: 600px;
		}
	}

}